<div class="list-group">
  <a href="/mylib/myborrow" class="list-group-item">Myborrow</a>
  <a href="/mylib/history" class="list-group-item">History</a>
  <a href="/mylib/info" class="list-group-item">Card information</a>
  <a href="/mylib/adminuser" class="list-group-item">Management users</a>
  <a href="/mylib/adminbook" class="list-group-item">Management books</a>
</div>