html {
	overflow-y: scroll;
}

:root {
	overflow-y: auto;
	overflow-x: hidden;
}

:root body {
	position: absolute;
}

body {
	width: 100vw;
	overflow: hidden;
}

.booklist dt {
	float: left;
	width: 10%;
}

.booklist dd {
	width: 90%;
	float: right;
}

.search-box {
	margin: 40px 0 0;
}

.search-box-2 {
	margin: 20px 0;
}

.search-result {
	margin: 20px 0;
}

.Login-box {
	margin: 20px 0 20px;
}

.footer {
	padding-top: 19px;
	border-top: 1px solid #e5e5e5;
	color: #777;
}