<!-- body -->
<div class='container'>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">About</h4>
    </div>
    <div class="panel-body">
      <p class="lead">© CS425 Group 7</p>
    </div>
  </div>
  {{>footer}}
</div>