<div class='container'>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">add book</h4>
    </div>
    <div class="panel-body">
      <div class="row Login-box">
        <div class="col-lg-4 col-lg-offset-4">
          <form action="/mylib/addbook" method="POST" class="form-signin" role="form">
            <input type="text" class="form-control" name="isbn" placeholder="isbn" required="" autofocus="true">
            <input style="margin-top:10px;" class="form-control" name="title" placeholder="title"
              required="">
            <input style="margin-top:10px;" class="form-control" name="author" placeholder="author"
              required="">
            <input style="margin-top:10px;" class="form-control" name="press" placeholder="press"
              required="">
            <input style="margin-top:10px;" class="form-control" name="price" placeholder="price"
              required="">
            <input style="margin-top:10px;" class="form-control" name="content" placeholder="content"
              required="">
            <input style="margin-top:10px;" class="form-control" name="catalog" placeholder="catalog"
              required="">
            <input style="margin-top:10px;" class="form-control" name="callNumber"
              placeholder="callNumber" required="">
            <input style="margin-top:10px;" class="form-control" name="address" placeholder="address"
              required="">
            <input style="margin-top:10px;" class="form-control" name="publish_time"
              placeholder="publish_time" required="">
            <input style="margin-top:10px;" class="form-control" name="classifiction"
              placeholder="classifiction" required="">
            <div class="row search-box-2">
              <div id="radioselect" class='col-lg-6 col-lg-offset-3 '>
                <input type='radio' name="type" id="2" value="0" /><label for="2">Books</label>
                <input type='radio' name="type" id="4" value="1" /><label for="4">Magazines</label>
                <input type='radio' name="type" id="3" value="2" /><label for="3">Journal Articles</label>
              </div>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  {{>footer}}
</div>