<div class="container">
	<div class="row">
		<div class="col-lg-2">
      {{>list-group}}
		</div>
		<div class="col-lg-10">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Borrow all</h4>
        </div>
        <div class="panel-body">
  				<!-- <h2 class="sub-header">Section title</h2> -->
  				<div class="table-responsive">
  					<table class="table table-condensed">
  						<thead>
  							<tr>
									<th>Borrower</th>
  								<th>Barcode</th>
                  <th>Title</th>
  								<th>Author</th>
  								<th>Outdate</th>
  								<th>Ondate</th>
  								<th>Address</th>
  							</tr>
  						</thead>
  						<tbody>
                {{#each borrows}}
  							<tr>
									<td>{{name}}</td>
  								<td class="barcode">{{barcode}}</td>
  								<td>{{title}}</td>
                  <td>{{author}}</td>
  								<td>{{outdate}}</td>
  								<td>{{indate}}<span style="color: red; margin-left: 10px">{{overdue}}</span></td>
  								<td>{{address}}</td>
  							</tr>
                {{/each}}
  						</tbody>
  					</table>
  				</div>
        </div>
      </div>
		</div>
	</div>
  {{>footer}}
</div>

