<div class="container">
  <div class="row">
    <div class="col-lg-2">
      {{>list-group}}
    </div>
    <div class="col-lg-10">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">All Book</h4>
        </div>
        <div class="panel-body">
          <!-- <h2 class="sub-header">Section title</h2> -->
          <div class="table-responsive">
            <table class="table table-condensed">
              <thead>
                <tr>
                  <th>ISBN</th>
                  <th>title</th>
                  <th>author</th>
                  <th>type</th>
                  <th>press</th>
                  <th>price</th>
                  <th>content</th>
                  <th>catalog</th>
                  <th>callNumber</th>
                  <th>address</th>
                  <th>publish_time</th>
                  <th>classification</th>
                  <th>delete</th>
                </tr>
              </thead>
              <tbody>
                {{#each books}}
                <tr>
                  <td>{{isbn}}</td>
                  <td>{{title}}</td>
                  <td>{{author}}</td>
                  <td>{{type}}</td>
                  <td>{{press}}</td>
                  <td>${{price}}</td>
                  <td>{{content}}</td>
                  <td>{{catalog}}</td>
                  <td>{{callNumber}}</td>
                  <td>{{address}}</td>
                  <td>{{publish_time}}</td>
                  <td>{{classification}}</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>

          <div class="col-lg-4 col-lg-offset-4">
            <button id="addbook" class="btn btn-primary">Add</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{>footer}}
</div>