<div class="container">
	<div class="row">
		<div class="col-lg-2">
      {{>list-group}}
		</div>
		<div class="col-lg-10">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">All users</h4>
        </div>
        <div class="panel-body">
  				<!-- <h2 class="sub-header">Section title</h2> -->
  				<div class="table-responsive">
  					<table class="table table-condensed">
  						<thead>
  							<tr>
									<th>readerId</th>
  								<th>name</th>
                  <th>phone</th>
  								<th>Email</th>
  								<th>creditNum</th>
  								<th>delete</th>
  							</tr>
  						</thead>
  						<tbody>
                {{#each users}}
  							<tr>
									<td class="deruserid">{{readerId}}</td>
  								<td>{{name}}</td>
  								<td>{{phone}}</td>
                  <td>{{email}}</td>
  								<td>{{creditNum}}</td>
  								<td><Button class="deluser btn btn-primary">delete user</Button></td>
  							</tr>
                {{/each}}
  						</tbody>
  					</table>
  				</div>
        </div>
      </div>
		</div>
	</div>
  {{>footer}}
</div>

