<div class="container">
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h4 class="panel-title">Detailed information</h4>
	  </div>
	  <div class="panel-body">
	  	<div class="row" style="margin:10px;">
	  		{{#if bookInfo}}
				<dl class="booklist clearfix">
					<dt>title:</dt>
					<dd>{{bookInfo.title}}</dd>
				</dl>
				<dl class="booklist clearfix">
					<dt>editors:</dt>
					<dd>{{bookInfo.author}}</dd>
				</dl>
				<dl class="booklist clearfix">
					<dt>version:</dt>
					<dd>1.1</dd>
				</dl>
				<dl class="booklist clearfix">
				<dt>press:</dt>
				<dd>{{bookInfo.press}}</dd>
				</dl>
				<dl class="booklist clearfix">
					<dt>ISBN && price:</dt>
					<dd>{{bookInfo.isbn}} / ${{bookInfo.price}}</dd>
				</dl>
				<dl class="booklist clearfix">
					<dt valign="top">brief introduction: </dt>
					<dd style="padding-bottom: 8px;">{{bookInfo.content}}</dd>
				</dl>
				<dl class="booklist clearfix">
					<dt>catalog: </dt>
					<dd>{{bookInfo.catalog}}</dd>
				</dl>
				{{/if}}
	  	</div>
	  	<div class="row" style="margin:10px;">
	  		<div class="bs-example bs-example-tabs">
			    <ul class="nav nav-tabs" role="tablist">
			      <li role="presentation" class="active">
			      	<a href="#home" id="home-tab" role="tab" data-toggle="tab">info</a>
			      </li>
			    </ul>
			    <div class="tab-content">
			      <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
          		<table class="table">
          			<thead>
          				<tr>
          					<th>callNumber</th>
          					<th>barcode</th>
          					<th>address</th>
          					<th>state</th>
          					<th>isBorrow</th>
          				</tr>
          			</thead>
          			<tbody>
          				{{#each booksState}}
          				<tr>
        	          <td>{{callNumber}}</td>
        	          <td>{{barcode}}</td>
        	          <td>{{address}}</td>
        	          <td>{{state}}</td>
        	          <td>{{{isBorrow}}}</td>
        	        </tr>
        	        {{/each}}
          			</tbody>
          		</table>
			      </div>
			    </div>
			  </div>
	  	</div>
	  </div>
	</div>
	{{>footer}}
</div>