<!-- body -->
<div class='container'>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Borrow books</h4>
    </div>
    <div class="panel-body">
      {{#if book}}
      <div class="col-lg-4 col-lg-offset-4">
        <h4 class="text-center">Confirm the basic information of the book: </h4>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td width="20%">barcode</td>
              <td id="barcode">{{book.barcode}}</td>
            </tr>
            <tr>
              <td width="20%">title</td>
              <td>{{book.title}}</td>
            </tr>
            <tr>
              <td width="20%">author</td>
              <td>{{book.author}}</td>
            </tr>
            <tr>
              <td width="20%">press</td>
              <td>{{book.press}}</td>
            </tr>
            <tr>
              <td width="20%">inDate</td>
              <td>{{book.inDate}} <span style="color: red">Overtime penalty !!!</span></td>
            </tr>
          </tbody>
        </table>
        <h4 class="text-center"><Button id="borrow" class="btn btn-primary">Borrow</Button></h4>
      </div>
      {{else}}
      <div class="col-lg-4 col-lg-offset-4">
        <div class="form-group">
          <label for="barcode">Please enter the barcode number: </label>
          <input type="text" class="form-control" id="barcode">
        </div>
        <button id="borrow" class="btn btn-primary">Borrow</button>
      </div>
      {{/if}}
      
    </div>
  </div>
  {{>footer}}
</div>
