<div class="container">
<div class="row">
	<div class="col-lg-2">
    {{>list-group}}
	</div>
	<div class="col-lg-10">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Borrowing History</h4>
      </div>
      <div class="panel-body">
				<!-- <h2 class="sub-header">Section title</h2> -->
				<div class="table-responsive">
					<table class="table table-condensed">
						<thead>
							<tr>
								<th>barcode</th>
								<th>title</th>
								<th>author</th>
								<th>outdate</th>
								<th>indate</th>
								<th>address</th>
							</tr>
						</thead>
						<tbody>
							{{#each books}}
							<tr>
								<td>{{barcode}}</td>
								<td>{{title}}</td>
								<td>{{author}}</td>
								<td>{{outdate}}</td>
								<td>{{indate}}</td>
                <td>{{address}}</td>
							</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
      </div>
    </div>
	</div>
</div>
{{>footer}}
</div>