<div class="container">
<div class="row">
	<div class="col-lg-2">
    {{>list-group}}
	</div>
	<div class="col-lg-10">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Certificate information</h4>
      </div>
      <div class="panel-body">
        {{#if info}}
        <div  class="col-lg-6">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td>readerId</td>
                <td>{{info.readerId}}</td>
              </tr>
              <tr>
                <td>name</td>
                <td>{{info.name}}</td>
              </tr>
              <tr>
                <td>sex</td>
                <td>{{info.sex}}</td>
              </tr>
              <tr>
                <td>creditNum</td>
                <td>{{info.creditNum}}</td>
              </tr>
              <tr>
                <td>phone</td>
                <td>{{info.phone}}</td>
              </tr>
              <tr>
                <td>Email</td>
                <td>{{info.email}}</td>
              </tr>
            </tbody>      
          </table>
        </div>
        <div class="col-lg-6">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td>User type</td>
                <td>{{info.type}}</td>
              </tr>
              <tr>
                <td>job</td>
                <td>{{info.job}}</td>
              </tr>
              <tr>
                <td>maxBorrow</td>
                <td>{{info.maxBorrow}}</td>
              </tr>
              <tr>
                <td>Number of violations</td>
                <td>{{info.breakRule}}</td>
              </tr>
            </tbody>      
          </table>
        </div>
        {{else}}
          
        {{/if}}
      </div>
    </div>
	</div>
</div>
{{>footer}}
</div>