<div class="container">
	<div class="row">
		<div class="col-lg-2">
      {{>list-group}}
		</div>
		<div class="col-lg-10">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Current borrowing</h4>
        </div>
        <div class="panel-body">
  				<!-- <h2 class="sub-header">Section title</h2> -->
  				<div class="table-responsive">
  					<table class="table table-condensed">
  						<thead>
  							<tr>
  								<th>barcode</th>
                  <th>title</th>
  								<th>author</th>
  								<th>outdate</th>
  								<th>outdate</th>
  								<th>address</th>
                  <th>Return the book</th>
                  <th>renew</th>
  							</tr>
  						</thead>
  						<tbody>
                {{#each borrows}}
  							<tr>
  								<td class="barcode">{{barcode}}</td>
  								<td>{{title}}</td>
                  <td>{{author}}</td>
  								<td>{{outdate}}</td>
  								<td>{{indate}}</td>
  								<td>{{address}}</td>
                  <td><button class="return btn btn-sm">Return the book</button></td>
                  <td><button class="renew btn btn-sm">renew</button></td>
  							</tr>
                {{/each}}
  						</tbody>
  					</table>
  				</div>
        </div>
      </div>
		</div>
	</div>
  {{>footer}}
</div>

