<div class='container'>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Permission denied</h4>
    </div>
    <div class="panel-body">
    	<h1>Permission denied</h1>
      <p><a href="/mylib/myborrow">return</a></p>
    </div>
  </div>
  {{>footer}}
</div>