<div class='container'>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Borrowing results</h4>
    </div>
    <div class="panel-body">
    	<h1>Borrowing succeeded</h1>
      <p><a href="/mylib/myborrow">Jump to my loan</a></p>
    </div>
  </div>
  {{>footer}}
</div>