<div class="container">
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">result</h4>
  </div>
  <div class="panel-body">
  	<div class="row search-box">
      <div class="col-lg-1 col-lg-offset-3">
        <div id="dropdown1" class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
            <span class="placeholder">title</span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li value="0"><a>title</a></li>
            <li value="3"><a>callNumber</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="input-group">
          <input id="content" type="text" class="form-control">
          <span class="input-group-btn">
            <button id="submit" class="btn btn-default" type="button">Retrieve again</button>
          </span>
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
  	</div><!-- /.row -->
    <div class="row search-result">
      <div class="col-lg-6 col-lg-offset-3">
        <ul class="list-group">
          {{#each books}}
            <li class="list-group-item">
              <h6><a href="/books?isbn={{isbn}}"><b><span style="color:#F00;">{{title}}&nbsp&nbsp</span></b></a>{{callNumber}}
              <span class="pull-right">{{type}}</span>
              </h6>
              <p>
                {{author}}<br />
                {{press}}
              </p>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
{{>footer}}
</div>
  