<!-- body -->
<div class='container'>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Search</h4>
    </div>
    <div class="panel-body">
      <div class="row search-box">
        <div class="col-lg-1 col-lg-offset-3">
          <div id="dropdown1" class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
              <span class="placeholder">title</span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li value="0"><a>title</a></li>
              <li value="3"><a>callNumber</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="input-group">
            <input id="content" type="text" class="form-control">
            <span class="input-group-btn">
              <button id="submit" class="btn btn-default" type="button">Search</button>
            </span>
          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
      </div><!-- /.row -->
      <div class="row search-box-2">
        <div id="radioselect" class='col-lg-6 col-lg-offset-3 '>
          <input type='radio' name="kind" id="1" value="all" checked="checked"/><label for="1">all</label>
          <input type='radio' name="kind" id="2" value="0"/><label for="2">Books</label>
          <input type='radio' name="kind" id="4" value="1"/><label for="4">Magazines</label>
          <input type='radio' name="kind" id="3" value="2"/><label for="3">Journal Articles</label>
        </div>
      </div>
    </div>
  </div>
  {{>footer}}
</div>