<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{title}}</title>

  {{css "/stylesheets/style.css"}}
  {{#each cssList}}
 	 	<link rel='stylesheet' href="{{this}}" />
  {{/each}}

	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
</head>
<body>
	<nav class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/search">A Library Management System</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				{{#each arr}}
				<ul class="nav navbar-nav">
					<li class="{{sch}}"><a href="/search">Search</a></li>
					<li class="{{lib}}"><a href="/mylib/myborrow">Home</a></li>
					<li class="{{abt}}"><a href="/about">About</a></li>
				</ul>
				{{/each}}
				<ul class="nav navbar-nav navbar-right">
					{{#if user}}
					<li><a href="/mylib/info">{{user.name}}({{user.type}})</a></li>
					<li><a href="/loginOut">Exit</a></li>
					{{else}}
					<li class="{{log}}"><a href="/login">Login</a></li>
					{{/if}}
				</ul>
			</div>
		</div>
	</nav>
	<div class='container'>
		{{#if success_msg}}
		  <div class="alert alert-success">{{success_msg}}</div>
		{{/if}}
		{{#if error_msg}}
		  <div class="alert alert-danger">{{error_msg}}</div>
		{{/if}}
	</div>

  {{{body}}}

	<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

	{{js "/javascripts/search.js"}}
	{{js "/javascripts/mylib.js"}}
	{{#each jsList}}
 	 	<script src={{this}}></script>
  {{/each}}
</body>
</html>